body {
    background-color: cornflowerblue;
    font-family: 'Lucida Sans Typewriter';
}

form {
    padding-top:2%;
    background-color: antiquewhite;
 
}

form h4 {
    color: cornflowerblue;
    text-align: center;
    border: double 5px;
    border-color: cornflowerblue;
}
.col-md-8 div{
    padding: 2%;

}

h6 strong {
    color: darkslateblue;
}

#results {
    background-color: cornflowerblue;
    color: white;
}

    #results h6 strong, #results h4 {
        color: white;
    }